body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --item_color: #2195D2;
    --main_text_color: #1A1A1A;
    --second_text_color: #727272;
    --block_bg_color: #F8F8F8;
    --second_item_color: #F0F0F0;
    --bg_color: #ffffff;
}

    /***** Хэдэр *****/ 

.nav-item a {
    color: var(--main_text_color);
    font-size: 16px;
}

.nav-item a:hover {
    text-decoration: underline;
}

/***** Блок о нас *****/

.about_us {
    margin-top: 100px;
}

.custom_photo{
    margin-top: 40px;
}

.about_us h4 {
    margin-top: 40px;
}

.about_us p {
    padding-top: 3px;
}

.offers {
    margin-top: 30px;
}

.offers p {
    color: var(--second_text_color);
    padding-left: 10px;
}

.contact{
    color: var(--second_text_color);
}

.contact b {
    color: var(--main_text_color);
}

    /***** Блок подвал *****/

.footer {
    margin-top: 100px;
    background-color: var(--block_bg_color);
}

.footer_elem {
    padding-top: 40px;
}

.footer a {
    text-decoration: none;
    color: var(--second_text_color);
}

.footer a:hover {
    color: var(--main_text_color);
}

.footer ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.left_info p {
    padding-top: 10px;
    margin-bottom: 20px;
    color: var(--second_text_color);
}