* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg_color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

:root {
    --item_color: #2195D2;
    --main_text_color: #1A1A1A;
    --second_text_color: #727272;
    --block_bg_color: #F8F8F8;
    --second_item_color: #F0F0F0;
    --bg_color: #ffffff;
}

p {
  color: #666;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  border: 1px solid var(--main_text_color);
  width: 400px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h1 {
  color: #5E6F64;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo p {
  color: #666;
  font-size: 16px;
}

.input {
  margin-bottom: 20px;
}

.input p {
  padding-left: 10px;
  padding-bottom: 5px;
}

.input input {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid var(--second_text_color);
  border-radius: 50px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

.input input:focus {
  border-color: var(--item_color);
  outline: none;
}

.button {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 15px;
  background: var(--item_color);
  border: none;
  border-radius: 50px;
  color: var(--bg_color);
}

.button:hover {
  border: 1px solid var(--main_text_color);
}

.link {
  text-align: center;
  margin-top: 25px;
  font-size: 0.9rem;
}

.link a {
  color: var(--item_color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--second_text_color);
  text-decoration: underline;
}